body {
  text-align: center;
  font-family: sans-serif;
}
.smallcaps {
  font-variant: small-caps;
}
.ip {
  background-color: gray;
  color: white;
  border-radius: 5px;
  padding: 4px;
}
a {
  color: black;
}
a:hover {
  font-weight: bold;
}